@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2f363d;
}

.loader {
    border-top-color: #fff;
    animation: spinner 1s linear infinite;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.hover-color:hover {
    color: var(--btn-color) !important;
}

@keyframes spinner {
    0% { transform: rotate(0deg) }
    100% {transform: rotate(360deg) }
}