@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2f363d;
}

.loader {
    border-top-color: #fff;
    animation: spinner 1s linear infinite;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.hover-color:hover {
    color: var(--btn-color) !important;
}

/* Override Flatpickr Theme */
.flatpickr-calendar,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
span.flatpickr-weekday {
    background-color: #2f363d;
}
.flatpickr-day:hover {
    background-color: #3e4a4c;
    border-color: #525a5c;
}
.flatpickr-day.selected {
    background-color: #78ce6d;
    border-color: #78ce6d;
}
.flatpickr-day.selected:hover {
    background-color: #8cd582;
    background-color: #8cd582;
}

@keyframes spinner {
    0% { transform: rotate(0deg) }
    100% {transform: rotate(360deg) }
}